<h1>Busybody says hello</h1>
<p>
	Hope this greeting finds you well.
<p>
</p>
	It is now <%= @time %>
</p>
<p>
	35 + 5 = <%= 35 + 5 %>
	my fullname is <%= "Bode " + "Fuwa" %>
	It will be <%= 2.hour.from_now %> in 2 hours
</p>
<p>
	
	Time to say <%= link_to "Goodbye", say_goodbye_path %>!
</p>
