<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Address:</b>
  <%= @store.address %>
</p>

<p>
  <b>Address2:</b>
  <%= @store.address2 %>
</p>

<p>
  <b>Phone:</b>
  <%= @store.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @store.email %>
</p>

<p>
  <b>Site:</b>
  <%= @store.site %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
